@{
        Layout = null;

    }

    <!DOCTYPE html>

    <html>
    <head>
        <title> Document  </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/Asset/Menu/vendor/bootstrap.css">

        <link rel="stylesheet" href="~/Asset/Menu/vendor/font-awesome.css">
        <link rel="stylesheet" href="~/Asset/Menu/1.css">
        <link rel="stylesheet" href="~/Asset/trangchu/css/1.css">;
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700&amp;display=swap" rel="stylesheet">
    </head>
    
    <body>


        
        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Tên sản phẩm</th>
                        <th style="width:10%">Giá</th>
                        <th style="width:8%">Số lượng</th>
                        <th style="width:22%" class="text-center">Thành tiền</th>
                        <th style="width:10%"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.cart == null)
                    {
                    <tr>
                        <td>
                            Khong co gi trong gio hang
                        </td>
                    </tr>
                    }
                    else
                    {
                        @foreach (var item in ViewBag.cart)
                        {
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">@item.Drink.Name</h4>

                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">@item.Drink.UnitPrice </td>
                                <td data-th="Quantity">
                                    <input class="form-control text-center" id="SL" value="@item.Quantity" type="number">
                                </td>
                                <td data-th="Subtotal" class="text-center">@(item.Drink.UnitPrice* item.Quantity)</td>
                                <td class="actions" data-th="">
                                    <button asp-action="edit" asp-controller="cart" asp-route-id="@item.Drink.Id" asp-route-data="$('SL').val()" class="btn btn-info btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <a class="btn btn-danger btn-sm" asp-action="remove" asp-controller="cart" asp-route-id="@item.Drink.Id">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }



                </tbody>
                <tfoot>

                    <tr>
                        <td>
                            <a asp-action="index" asp-controller="menu" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                        </td>
                        <td colspan="2" class="hidden-xs">Tong Tien </td>
                        <td class="hidden-xs text-center">
                            <strong>@ViewBag.total</strong>
                        </td>
                        <td>
                            <a asp-action="thanhtoan" asp-controller="cart" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </body>
    



    </html>


